 /* === Botão de Login === */  

 .btn-login {  
    display: inline-block;  
    padding: 12px 24px;
    background-color: var(--cor-secundaria);  
    color: var(--cor-detalhe); 
    text-decoration: none; 
    border-radius: 4px;
    transition: background-color 0.3s ease; 
  }  
  
  .btn-login:hover {
    background-color: var(--cor-secundaria); 
    color: rgb(19, 233, 169);
  }
  .login { 
    padding: 60px 0; 
    background-color: var(--cor-fundo);  
    text-align: center;  
  }  
  
  .login h2 {  
  color: var(--cor-texto-principal); 
  margin-bottom: 20px;
  }  
  
  .login p {
    color: var(--cor-secundaria);  
    margin-bottom: 30px;
  } 
  
  .login form {  
    max-width: 400px;  
    margin: 0 auto; 
    background-color: white; 
    padding: 30px;  
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); 
  }
  
  .login .form-group {
    margin-bottom: 15px;
  } 
  
  .login label { 
    display: block;  
    text-align: left; 
    margin-bottom: 5px;
    color: var(--cor-secundaria); 
  } 
  
  .login input[type="text"],
  .login input[type="password"] {
    width: 100%;  
    padding: 10px; 
    border: 1px solid #ddd;  
    border-radius: 4px; 
  }
  
  .login button[type="submit"] { 
    width: 100%; 
    padding: 12px;  
    background-color: var(--cor-destaque); 
    color: var(--cor-secundaria);  
    border: none; 
    border-radius: 4px;  
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .login button[type="submit"]:hover {
  background-color: var(--cor-detalhe); 
  color: white;
  }
  